* {
    align-items: center;
    text-align: center;
}

.mainBackground {

    background-color: lightgray;
}

.header {
    text-align: center;
    background-color: white;
}

.body {
    text-align: center;
    align-items: center;
    margin: auto;
}

.wrapper {
    margin: auto;
    width: 40%;
}

.photoHolder {
    width: 100%;
    height: 600px;
    background-color: white;
    margin-bottom: 100px;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}



.miniHeader{
    text-align: justify;
    display:flex;

}

.leftSide {
    text-align: left;
    margin-left: 10px;
    width: 50%;

}
.rightSide {
    text-align: right;
    margin-right: 10px;
    width: 50%;

}

